@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="~/Content/styles.css" as="styles">
</head>
<body>
    <div class="front-body">
        <img src="img/user-icon.png" alt="user-icon">
        <p class="text">Bienvenido</p>
        <form class="login-front">
            <input type="text" placeholder="Ingrese email nombre de usuario">
            <input type="password" placeholder="Contraseña">
            <button onclick="alert('hola')">Iniciar Sesion</button>
        </form>
    </div>
</body>
</html>